<template>
  <q-page class="q-gutter-md">
  	<div class="row q-gutter-sm q-mt-md">
	    <span class="head">КАТАЛОГ</span>
	    <span class="head-quantity">(150 изделий)</span>
    </div>
    <div class="row filters relative-position q-mb-lg">
    	<span>
    		<q-btn-dropdown color="black" flat label="Цена" :content-style="{ width: '50%' }">
		    	<div class="q-px-xl q-py-lg price-choose">
				    <!-- <q-badge color="black" flat class="q-mb-lg">
				      От {{ model.min }} до {{ model.max }}
				    </q-badge> -->
				    <q-range
				      class="q-mx-lg"
				      v-model="model"
				      :min="1000"
				      :max="1000000"
				      :step="100"
				      :left-label-value="model.min + 'руб'"
				      :right-label-value="model.max + 'руб'"
				      label-always
				      color="black"
				    />
				</div>
		    </q-btn-dropdown>
		</span>
    	<span>
    		<q-btn-dropdown color="black" flat label="Для кого">
		      <q-list>
		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>М</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Ж</q-item-label>
		          </q-item-section>
		        </q-item>
		      </q-list>
		    </q-btn-dropdown>
		</span>
    	<span>
    		<q-btn-dropdown color="black" flat label="Металл">
		      <q-list>
		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Золото</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Серебро</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Платина</q-item-label>
		          </q-item-section>
		        </q-item>
		      </q-list>
		    </q-btn-dropdown>
		</span>
    	<span>
    		<q-btn-dropdown color="black" flat label="Цвет металла">
		      <q-list>
		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Черный</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Красный</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Классический</q-item-label>
		          </q-item-section>
		        </q-item>
		      </q-list>
		    </q-btn-dropdown>
		</span>
    	<span>
    		<q-btn-dropdown color="black" flat label="Вставка">
		      <q-list>
		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Бриллиант</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Сапфир</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Рубин</q-item-label>
		          </q-item-section>
		        </q-item>
		      </q-list>
		    </q-btn-dropdown>
		</span>
    	<span>
    		<q-btn-dropdown color="black" flat label="Сортировка">
		      <q-list>
		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>По цене</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>По популярности</q-item-label>
		          </q-item-section>
		        </q-item>

		        <q-item clickable v-close-popup>
		          <q-item-section>
		            <q-item-label>Как-то ещё</q-item-label>
		          </q-item-section>
		        </q-item>
		      </q-list>
		    </q-btn-dropdown>
		</span>

    	<span class="absolute-right vertical-middle">
    		<q-icon name="view_module"/>
    		<q-icon name="view_comfy"/>
    	</span>
    </div>

	<div class="row q-col-gutter-md q-mb-lg">
		<div v-for="(el, index) in arr" :key="index" class="col-3">
			<q-card class="product-card q-pa-sm">
		      <img src="https://cdn.quasar.dev/img/mountains.jpg">

		      <q-card-section class="q-pa-none relative-position">
		        <div class="text-subtitle2 text-strike">2200</div>
		        <div class="text-h6">1500</div>
		        <span class="absolute-right vertical-middle"><q-icon name="local_mall"/></span>
		      </q-card-section>
		    </q-card>
		</div>
	</div>

  </q-page>
</template>

<script>
// import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'catalog',
  data () {
    return {
    	model: {
	        min: 100,
	        max: 1000000
	    },
	    arr: [1, 2 ,3, 4, 5, 6, 7, 8, 9, 10]
  //   	categories: [this.$route.params.categories]
  //   }
  // },

  // computed: {
  // 	...mapGetters({
  // 		fproducts: 'filter/get_filtered'
  // 	})
  // },

  // methods: {
  //   ...mapActions({
  //     filtration: 'filter/filter_products'
  //   })
  // },

  // mounted () {
  // 	this.filtration(...this.categories)
  	}
  }
}
</script>

<style scoped>
	.head{
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
	}
	.head-quantity{
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
	    display: inline-flex;
	    align-items: flex-end;
	}
	.filters{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
	}
	.price-choose{
		/*width: 300px;*/
	}
	.product-card{
		background: #C4C4C4;
		border-radius: 10px;
	}
</style>
