<template>
  <q-page class="flex flex-center">
  	<div v-for="product in products" :key="product.id">{{ product.email }} <hr width="1000px"></div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: "PageIndex",
  data () {
  	return{
  	}
  },
  computed: {
  	...mapGetters({
      products: 'products/products'
    })
  }
};
</script>
