<template>
  <q-page class="q-px-md fixed-center" style="width: 600px;">
    <q-form class="q-gutter-md">
      <q-input v-model="user.email" filled type="email" hint="Email" />

      <q-input v-model="user.password" filled :type="isPwd ? 'password' : 'text'" hint="Password">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>

      <div>
        <q-btn label="Submit" type="submit" @click="loginUser" color="primary"/>
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data () {
    return {
      isPwd: true,
      user: {
        password: null,
        email: null
      }
    }
  },

  methods: {
  //   onSubmit () {
  //     if ((this.email == null) || (this.password == null)) {
  //       this.$q.notify({
  //         color: 'red-5',
  //         textColor: 'white',
  //         icon: 'warning',
  //         message: 'You need to accept the license and terms first'
  //       })
  //     }
  //     else {
  //       this.$q.notify({
  //         color: 'green-4',
  //         textColor: 'white',
  //         icon: 'cloud_done',
  //         message: 'Submitted'
  //       })
  //     }
  //   },

  //   onReset () {
  //     this.email = null
  //     this.password = null
  //   }
  // }
    ...mapActions({
      login: 'auth/login'
    }),
    loginUser () {
      this.login(this.user)
        .then(() => {
          this.$router.push('/')
        })
    }
  }
}
</script>

<style scoped>

</style>
