<template>
  <q-page class="q-px-md fixed-center" style="width: 600px;">
    <q-form class="q-gutter-md">
      <q-input v-model="user.email" filled type="email" hint="Email" />
      <q-input v-model="user.name" filled hint="name" />

      <q-input v-model="user.password" filled :type="isPwd ? 'password' : 'text'" hint="Password">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>

      <div>
        <q-btn label="Submit" type="submit" @click="loginUser" color="primary"/>
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data () {
    return {
      isPwd: true,
      user: {
        name: null,
        password: null,
        email: null
      }
    }
  },

  methods: {
    ...mapActions({
      login: 'auth/signup'
    }),
    loginUser () {
      this.login(this.user)
        .then(() => {
          this.$router.push('/')
        })
    }
  }
}
</script>

<style scoped>

</style>
