// app global css in SCSS form
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

// declare a class which applies it
.my-font {
  font-family: 'Montserrat', sans-serif;
}
