<template>
  <q-layout view="hhh lpR fff" class="lay my-font">

        <div class="row q-mt-md q-mb-lg">
          <div class="col header-info flex items-center">+ 7 (ХХХ)-ХХХ-ХХ-ХХ</div>
          <div class="col logo text-center q-pa-md">SEREBROV</div>
          <div class="col flex justify-end items-center header-info q-gutter-lg">
            <span><router-link :to="'/login'" class="footer-link">ВОЙТИ</router-link></span>
            <router-link :to="'/cab'" class="footer-link"><q-icon name="account_circle"/></router-link>
            <router-link :to="'/cart'" class="footer-link"><q-icon name="shopping_cart"/></router-link>
          </div>
        </div>

      <q-tabs align="center" class="tabs">
        <q-route-tab :to="'/catalog/' + par1" class="q-mx-sm" label="Каталог" />
        <q-route-tab :to="'/catalog/' + par1" class="q-mx-sm" label="Кольца" />
        <q-route-tab :to="'/catalog/' + par2" class="q-mx-sm" label="Серьги" />
        <q-route-tab :to="'/catalog/' + par3" class="q-mx-sm" label="Цепи и колье" />
        <q-route-tab :to="'/catalog/' + par4" class="q-mx-sm" label="Браслеты" />
        <q-route-tab :to="'/catalog/' + par5" class="q-mx-sm" label="Кулоны" />
        <q-route-tab to="/sale" class="q-mx-sm" label="SALE" />
        <q-route-tab to="about" class="q-mx-sm" label="О магазине" />

        <q-form>
          <div class="row">
            <div class="col">
              <q-input v-model="text" color="black" class="q-mx-sm" label="ПОИСК" />
            </div>
            <div class="col flex items-center">
              <q-btn color="white" flat text-color="black" type="submit" icon="search" class="q-mx-none"/>
            </div>
          </div>
        </q-form>
      </q-tabs>

    <q-page-container>
      <router-view />
    </q-page-container>

        <div class="row">
          <div class="col q-col-gutter-y-sm">
            <div class="footer-ttl">КАТАЛОГ</div>
            <div class="q-pa-none"><hr></div>
            <div class="footer-content"><router-link :to="'/catalog/' + par1" class="footer-link">Кольца</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog/' + par2" class="footer-link">Серьги</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog/' + par3" class="footer-link">Цепи и колье</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog/' + par4" class="footer-link">Браслеты</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog/' + par5" class="footer-link">Кулоны</router-link></div>
            <div class="footer-content"><router-link :to="'/sale'" class="footer-link">SALE</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog'" class="footer-link">Золото</router-link></div>
            <div class="footer-content"><router-link :to="'/catalog'" class="footer-link">Серебро</router-link></div>
          </div>
          <div class="col q-col-gutter-y-sm">
            <div class="footer-ttl">ИНФОРМАЦИЯ</div>
            <div class="q-pa-none"><hr></div>
            <div class="footer-content"><router-link :to="'/about'" class="footer-link">О магазине</router-link></div>
            <div class="footer-content"><router-link :to="'/sale'" class="footer-link">Акции</router-link></div>
          </div>
          <div class="col q-col-gutter-y-sm">
            <div class="q-gutter-x-sm">
              <q-icon name="phone" />
              <span class="footer-ttl">+ 7 (ХХХ)-ХХХ-ХХ-ХХ</span>
            </div>
            <div class="q-pa-none"><hr></div>
            <div class="footer-content">Подпишитесь на рассылку</div>
            <div class="footer-content">
              <q-input rounded outlined color="black" v-model="text" class="footer-input" label="Введите e-mail...">
                <template v-slot:append>
                  <q-icon name="arrow_forward" />
                </template>
              </q-input>
            </div>
            <div class="footer-content">Мы в социальных сетях:</div>
            <div class="flex justify-between">
              <div class="soc-nets"></div>
              <div class="soc-nets"></div>
              <div class="soc-nets"></div>
              <div class="soc-nets"></div>
            </div>
          </div>
        </div>
        <div class="q-my-xl">
          <div class="footer-content text-grey-14">© 2019 ХХХХХХХХХХ</div>
          <div class="footer-content text-grey-14">Все права защищены</div>
        </div>

  </q-layout>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "MyLayout",

  data() {
    return {
      par1: 'Кольца',
      par2: 'Серьги',
      par3: 'Цепи и колье',
      par4: 'Браслеты',
      par5: 'Кулоны',
      leftDrawerOpen: false
    };
  },
  methods: {
    ...mapActions(['users/getUsers']),
    ...mapActions(['products/getProducts'])
  },
  mounted () {
    this['users/getUsers'](),//вот этот вызов нужно перенести в компонент, где будут использоваться данные о юзерах
    this['products/getProducts']()
  }
};
</script>

<style>
  .logo{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.29);
    letter-spacing: 0.13em;
  }
  .lay{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-info{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  .tabs{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  .footer-ttl{
    font-weight: 600;
    font-size: 20px;
  }
  .footer-content{
    font-weight: 300;
    font-size: 18px;
  }
  hr{
    max-width: 32px;
    margin-left: 0px;
    padding: 0;
  }
  .soc-nets{
    width: 64px;
    height: 64px;
    border: solid 1px;
    border-radius: 32px;
    display: inline-block;
  }
  .footer-input{
    /*max-width: 330px;*/
  }
  .footer-link{
    color: black;
    text-decoration: none;
  }
</style>